{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href='{{url_for("static", filename="css/index.css")}}' />
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block body %}
<div id="image" style="background:url(/static/images/index.jpg) center / cover no-repeat;"></div>
<div class="container">
<a href="{{url_for('login')}}" data-title="Login"></a>
<a href="{{url_for('register')}}" data-title="Register"></a>
</div>
{% endblock %}


